{% load static %}
<footer class="pb-50  pt-70 pos-relative">
        <div class="pos-top triangle-bottom"></div>
        <div class="container-fluid">
                <a href="/"><img src="{% static 'images/logo-white.png' %}" alt="Logo"></a>

                <div class="pt-30">
                        <p class="underline-secondary"><b>Address:</b></p>
                        <p>{{setting.address}} </p>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Phone:</b></p>
                        <a href="tel:+53 345 7953 32453 ">{{setting.phone}}</a>
                </div>

                <div class="pt-30">
                        <p class="underline-secondary mb-10"><b>Email:</b></p>
                        <a href="mailto:iremmdemiroz@gmail.com"> {{ setting.email }}</a>
                </div>

                <ul class="icon mt-30">
                        <li><a href="{{setting.twitter}}"><i class="ion-social-twitter"></i></a></li>
                        <li><a href="{{setting.facebook}}"><i class="ion-social-facebook"></i></a></li>
                        <li><a href="{{setting.instagram}}"><i class="ion-social-instagram"></i></a></li>
                </ul>


        </div><!-- container -->
</footer>

<!-- SCIPTS -->
<script src="{% static 'common/urunarttir.js' %}"></script>
<script src="{% static 'common/scripts.js' %}"></script>
