{% extends "homebase.html" %}

{% block title %} Hakkımızda- {{ setting.company.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}


{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}


{% block content %}



<section class="story-area left-text center-sm-text">
    {% include "search.html" %}

        <div class="container">
                {{ setting.aboutus | safe}}
        </div><!-- container -->
    <div class="center-text m-50">
        <a href="/" class="btn-primaryc plr-25 mb-10 mlr-5"><b>GÜNÜN ÜRÜNLERİ</b></a>
        <a href="/products" class="btn-primaryc secondary plr-50 mlr-5 mb-10"><b>SİPARİS VER</b></a>
    </div>

</section>




{% endblock %}