<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>{% block title %} Luigi's {% endblock %} </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="UTF-8">

    <!-- Font -->

    <link rel="stylesheet" href="{% static 'fonts/beyond_the_mountains-webfont.css'%}" type="text/css"/>

    <!-- Stylesheets -->
    <link href="{% static 'plugin-frameworks/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'plugin-frameworks/swiper.css'%}" rel="stylesheet">
    <link href="{% static 'fonts/ionicons.css'%}" rel="stylesheet">
    <link href="{% static 'common/styles.css'%}" rel="stylesheet">
    <link href="{% static 'common/search.css'%}" rel="stylesheet">
    <link href="{% static 'common/resimgalerisi.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel = 'shortcut icon'  href = "{% static 'image/icon.jpeg'%}" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery !-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
    <!-- jQuery UI !-->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    {% block head %} {% endblock %}
</head>
<body>
    {%  include 'header.html' %}
    {%  block slider %}{% endblock %}
    {%  block sidebar %}{% endblock %}
    {%  block content %}{% endblock %}
    {%  block body %}{% endblock %}
    {%  include 'footer.html' %}
</body>
</html>