{% extends "homebase.html" %}
{% load static %}
{% block title %} {{product.title}}{% endblock %}
{% block keywords %} {{ product.keywords }}  {% endblock %}
{% block descriptions %} {{ product.description }} {% endblock %}


{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}



{% block content %}
{% include "search.html" %}
<section class="story-area left-text center-sm-text " >
        <div class="container">
                <h3 class="font-9 mb-10 mb-sm-40 left-text"><ul class="row">
                    <li><a href="/">ANASAYFA>> </a></li>
                    <li><a href="/products">ÜRÜNLER>> </a></li>
                    <li><a href="/category/{{ product.category_id }}/{{product.category.slug}}">{{product.category}}>></a></li>
                    <li class="active">{{product.title}}</li>
                </ul></h3>

                <div class="row " style="border:1px dashed red">
                    <div class="col-md-12 col-lg-6  ">
                            <div class="col-sm-6 h-200 mt-50 ">
                                    <img class="br-4 h-200 expandedImg" src="{{product.image.url}}" alt="Menu Image">
                            </div>
                            <div class="mr-50">
                            <div class="row gallery cf h-50 w-90 " >
                            {% for rs in images %}
                            <div class="col-sm-3 mt-50  column">
                                <img class="h-60 w-100 " src="{{rs.image.url}}" onclick="myFunction(this);">
                            </div>

                            {% endfor %}
                            </div>
                            </div>

                    </div><!--col-sm-6-->

                    <div class="col-md-12 col-lg-6">
                         <div class="col-sm-6">
                             <h6 class="font-30 mt-20 mb-sm-40 left-text"><b>{{product.title}}</b></h6>
                             <h4  class="color-black">FİYAT = {{product.price}} TL</h4>
                             <p class="left-text" >{{product.description}}  </p>
                             <form action="/order/addtocart/{{ product.id }}" method="post">
                                 {% csrf_token %}
                                 <div class="" >
                                    <span>Adet:</span>
                                    <input name="quantity" class="input" type="number" min="0" max="{{product.amount}}" value="1">
                                 </div>
                                 <h6 class="dplay-inl-block mt-70"><button type="submit" class="btn-fill-primary plr-25"><i class="fa fa-shopping-cart" >SİPARİŞ VER</i></button></h6>
                              </form>

                         </div>

                    </div><!-- col-sm-6-->

                </div><!-- row -->

                <section class="story-area left-text center-sm-text pos-relative">
                     <div class="w3-container">
                     <div class="row">
                    <div class="col-md-12 col-lg-6 ">
                    <h4><b>YORUMLAR</b></h4>
                        <div class="container" >
                            {% for rs in comments%}
                            <div style="border:1px solid pink,padding:5">
                            <div><i class="fa fa-user-o"></i><b>{{rs.user}} {{rs.name}}</b></div>
                            <div><i class="fa fa-clock-o"></i>{{rs.create_at}}</div>
                            <div style="color:pink"><h4>{{rs.subject}}</h4>
                                <p>{{rs.comment}}</p>
                            </div>
                            </div><br>
                            {% endfor %}
                        </div>

                    </div><!--col-sm-6-->

                    <div class="col-md-12 col-lg-6">
                        <h4><b>YORUMUNU GÖNDER</b></h4>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <p class=" " style="color:pink">İsminizi paylaşmak zorunda degilsiniz...</p><br>
                        <form action="/product/addcomment/{{ product.id }}" method="post">
                            {% csrf_token %}
                            <div class="">
                                <div class=""> <input class="mb-20"  name="subject" style="width:100%" type="text" placeholder="Subject"> </div>
                                <div class="">
                                    <textarea class="h-200x ptb-20"  name="comment" style="width:100%" placeholder="Message"></textarea></div>
                            </div><!-- row -->
                            <strong style="color:pink">Puanın Nedir?</strong>
                            <div class="rating">
                                <input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
                                <input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
                                <input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
                                <input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
                                <input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
                            </div>

                            {% if user.id is not None %}
                            <h6 class="center-text mtb-30"><button href="#" class="btn-primaryc plr-25"><b>MESAJINI GÖNDER</b></button></h6>
                            {% else %}
                                Yorum eklemek için login olunuz!
                            {% endif %}
                        </form>

                    </div><!-- col-sm-6-->
                </div>
                </div><!-- row -->
                </section>


        </div><!-- container -->
</section>


{% endblock %}
<script>
function myFunction(imgs) {
  var expandImg = document.getElementById("expandedImg");
  var imgText = document.getElementById("imgtext");
  expandImg.src = imgs.src;
  imgText.innerHTML = imgs.alt;
  expandImg.parentElement.style.display = "block";
}
</script>
