{% extends "homebase.html" %}

{% block title %} Referanslar- {{ setting.company.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}


{% block head %}
        <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}


{% block content %}



<section class="story-area left-text center-sm-text">
        <div class="container" >
                <div class="row">

                {{ setting.references | safe}}
                </div>
        </div><!-- container -->
</section>




{% endblock %}