<div class="mt-30">
<section class=" center-text center-sm-text " >
<div class="search-container">
                                <form action="/search/" method="post" > <!-- action search oldugu icin url eklememiz gerekiyor-->
                                        <!--
                                        {% load mptt_tags %}
                                        <select name="catid" class="input"  style="background:transparent;color:#EF0031;">
                                            <option value="0">Kategoriler</option>
                                            {% recursetree category %}
                                                {% if node.is_leaf_node %}
                                                    <option value="{{node.id}}">{{node.title}}</option>
                                                {% endif %}
                                                {% if not node.is_leaf_node %}
                                                    <optgroup label="{{node.title}}">
                                                        {{children}}
                                                    </optgroup>
                                                {% endif %}
                                            {% endrecursetree %}
                                        </select>
                                        -->
                                    {% csrf_token %} <!-- formlarda csrf kullanılmalı -->
                                    <input id="query" class="input" type="text" placeholder="Search.." name="query" style="color:black;height:55px;">
                                    <button type="submit" class="btn-fill-primary plr-25">ARAMA YAP</button>

                                </form>
    </div>
</section>
</div>