{% load static %}
<!--
 <section class="story-area left-text center-sm-text pos-relative mt-40">
        <div class="abs-tbl bg-2 w-20 z--1 dplay-md-none"></div>
        <div class="abs-tbr bg-3 w-20 z--1 dplay-md-none"></div>
        <div class="w3-container">
                <div class="heading">
                        <img class="heading-img" src="{% static 'images/heading_logo.png'%}" alt="">
                        <h3>KATEGORİLER</h3>
                </div>
                    <div class="sidenav w3-bar-block" style="margin-left:42%">
                        {% load mptt_tags %}
                         <ul class="anamenu">
                        {% recursetree category %}
                            <li>
                                <a href="/category/{{ node.id }}/{{ node.slug }}" class="  w3-bar-item w3-button selecton  brdr-b-primary ">
                                    {{node.title}}
                                </a>
                                {% if not node.is_leaf_node %}
                                 <ul class="altmenu">
                                     <li>
                                        <a  href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a>
                                     </li>
                                 </ul>
                                {% endif %}
                            </li>
                         {% endrecursetree %}
                         </ul>
                    </div>

                </div>
            </div>
        </div>
</section>
-->
<div class="mt-50">
<section class="story-area left-text center-sm-text mt-50" >
    <div class="heading">
            <img class="heading-img mt-50" src="{% static 'images/heading_logo.png' %}" alt="">
            <h3>OUR STORY</h3>
    </div>



<section class="story-area left-text center-sm-text pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="row-md-4">

                        <div class="sidenav w3-bar-block" >
                        {% load mptt_tags %}
                         <ul class="anamenu">
                        {% recursetree category %}
                            <li>
                                <a href="/category/{{ node.id }}/{{ node.slug }}" class="  w3-bar-item w3-button selecton  brdr-b-primary ">
                                    {{node.title}}
                                </a>
                                {% if not node.is_leaf_node %}
                                 <ul class="altmenu">
                                     <li>
                                        <a  href="/category/{{ node.id }}/{{ node.slug }}">{{ children }}</a>
                                     </li>
                                 </ul>
                                {% endif %}
                            </li>
                         {% endrecursetree %}
                         </ul>
                    </div>

                    </div>
                </div><!-- col-sm-6-->
                <div class="col-md-12 col-lg-8 ">
                                <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse
                                        platea dictumst. Morbi maximus
                                        lobortis ipsum, ut blandit augue ullamcorper vitae.
                                        Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel convallis
                                        massa. Morbi tellus
                                        tortor, luctus et lacinia non, tincidunt in lacus.
                                        Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulum id
                                        dapibus dolor, ac
                                        cursus nulla. </p>
                                <p class="mb-30">Maecenas fermentum tortor id fringilla molestie. In hac habitasse platea
                                        dictumst.Morbi maximus lobortis ipsum, ut blandit augue ullamcorper vitae.
                                        Nulla dignissim leo felis, eget cursus elit aliquet ut. Curabitur vel
                                        convallismassa. Morbi tellus tortor, luctus et lacinia non, tincidunt in lacus.
                                        Vivamus sed ligula imperdiet, feugiat magna vitae, blandit ex. Vestibulumidda
                                        pibus dolor, accursus nulla. </p>

                </div><!--tab-style-1-->
                </div><!-- row -->
        </div><!-- container -->
</section>





</section>
</div>


<style>
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 210px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:white  color:black;
  overflow-x: hidden;
  padding-top: 20px;
  border:10px dotted red;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  background: white;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav a:hover, .dropdown-btn:hover {
    background-color:white;
    color:#EF0031;
}
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 17px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  background-color:white;
}
@media screen and (max-height: 250px) {
  .sidenav {padding-top: 100%;}
  .sidenav a {font-size: 8px;}
}
.anamenu, .altmenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.anamenu a{
  display: block;
  background-color:white;
  text-decoration: none;
  padding: 10px;
  color: black;
}
.anamenu a:hover {
    background-color:white;
}
.anamenu li:hover .altmenu {
  display: block;
  max-height: 130px;

}
.altmenu a{
  background-color:white;

}
.altmenu a:hover {
  background-color:white;

}
.altmenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}
</style>


<script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
  this.classList.toggle("active");
  var dropdownContent = this.nextElementSibling;
  if (dropdownContent.style.display === "block") {
  dropdownContent.style.display = "none";
  } else {
  dropdownContent.style.display = "block";
  }
  });
}
</script>