{% load static %}

{% for rs in sliderdata %}

<images class="  h-700x main-slider  mySlides">
        <div class="triangle-up pos-bottom"></div>
        <div class="  h-700x  " style="background-image: url('{{ rs.image.url }}');">

           <div class="container h-100">
                <div class="dplay-tbl" >
                        <div class="dplay-tbl-cell center-text color-white">
                                <h1 class="mt-30 mb-15">{{ rs.title}}</h1>
                                <h5>{{rs.description}}</h5>
                                <a href="/product/{{rs.id}}/{{rs.slug}}" class="btn-primaryc plr-25" type="submit" style="width:200px">SATIN AL</a>
                        </div>
                </div>
        </div>


        <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
        <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
 </div>

</images>

{% endfor %}


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<style></style>