{% extends "homebase.html" %}

{% block title %} User {{ user }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}
{% load static %}

{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
<div class="mt-50">
<section class="story-area left-text center-sm-text mt-50" >
    <div class="heading">
            <img class="heading-img mt-50" src="{% static 'images/heading_logo.png' %}" alt="">
            <h3>CHANGE PASSWORD</h3>

    </div>



<section class="story-area left-text center-sm-text pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="row-md-4">
                        {% include "user_panel.html" %} <!-- Html içerisinde html sayfası çağırmak için -->
                    </div>
                </div><!-- col-sm-6-->
                <div class="col-md-12 col-lg-8 center-text">
                    <div class="container center-text">
                        <div class="media">
                            <img class="" src="{{ user.userprofile.image.url}}" style="width:190px;height:168px;border-radius:50%;margin-left:240px">
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                <div style="color:#EF0031;font-size:medium">
                                    {{ message | safe}}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post" class="mt-30" >
                            {% csrf_token %}
                            {% for field in form %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}

                                    {% for error in field.errors %}
                                        <p>{{error}}</p>
                                    {% endfor %}
                                    {% if field.help_text %}
                                        <small style="color:green">{{ field.help_text}}</small>
                                    {% endif %}
                                </p>
                            {% endfor %}
                            <button class="btn-fill-primary secondary plr-15 mt-20" type="submit">Save Changes</button>

                        </form>
                    </div>
                </div><!--tab-style-1-->
                </div><!-- row -->
        </div><!-- container -->
</section>





</section>
</div>



{% endblock %}
