{% extends "homebase.html" %}

{% block title %} Order List  {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}
{% load static %}

{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}

<div class="mt-50">

<section class="story-area left-text center-sm-text mt-50" >
    <h3 class="font-9 mt-30 ml-30  left-text">
        <ul class="row">
            <li><a href="/">ANASAYFA>> </a></li>
            <li class="active">User Orders</li>
        </ul>
    </h3 >
    <div class="heading">
            <img class="heading-img mt-50" src="{% static 'images/heading_logo.png' %}" alt="">
            <h3 class=" mb-30">USER ORDER LIST</h3>

    </div>



<section class="story-area left-text center-sm-text pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-3">
                    <div class="row-md-4">
                        {% include "user_panel.html" %} <!-- Html içerisinde html sayfası çağırmak için -->
                    </div>
                </div><!-- col-sm-6-->
                <div class="col-md-12 col-lg-9 ">
                    <table cellpadding="4" width="800" height="200" style="margin:30px">
                        <tr>
                            <th class="text-left">Id</th>
                            <th class="text-left">First Name</th>
                            <th class="text-left">Last Name</th>
                            <th class="text-left">Total</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Date</th>
                            <th class="text-left">Detail</th>
                        </tr>
                        {% for rs in orders %}
                        <tr >
                            <td class="text-left">{{ rs.id }} </td>
                            <td class="text-left">{{ rs.first_name }} </td>
                            <td class="text-left">{{ rs.last_name }} </td>
                            <td class="text-left">{{ rs.total }} </td>
                            <td class="text-left">{{ rs.status }} </td>
                            <td class="text-left">{{ rs.create_at }} </td>
                            <td class="text-left"><a class="btn-fill-primary secondary plr-10" href="/user/orderdetail/{{ rs.id }}">Detay</a> </td>
                        </tr>

                        {% endfor %}

                        </table>


                </div><!--tab-style-1-->
                </div><!-- row -->
        </div><!-- container -->
</section>





</section>
</div>



{% endblock %}
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>