{% extends "homebase.html" %}

{% block title %} User {{ user }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}
{% load static %}

{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}
<div class="mt-50">
<section class="story-area left-text center-sm-text mt-50" >
    <div class="heading">
            <img class="heading-img mt-50" src="{% static 'images/heading_logo.png' %}" alt="">
    </div>



<section class="story-area left-text center-sm-text pt-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="row-md-4">
                        {% include "user_panel.html" %} <!-- Html içerisinde html sayfası çağırmak için -->
                    </div>
                </div><!-- col-sm-6-->
                <div class="col-md-12 col-lg-8 ">
                    <h3>USER INFORMATION</h3>

                    <table cellpadding="7" height="150px" width="400px" align="center">
                        <tr>
                                <th></th>
                                <td ><img style="width:120px;height:120px;textAlign:left;border-radius:45px;margin-bottom:20px" src="{{profile.image.url}}"></td>
                        </tr>
                        <hr>
                        <tr >
                            <th>Name:</th>
                            <td class="ml-20"> {{user.first_name}}</td>
                        </tr>
                       <tr >
                            <th>Surname:</th>
                            <td class="ml-20"> {{user.last_name}}</td>
                        </tr>

                        <tr >
                            <th>Table No:</th>
                            <td class="ml-20"> {{profile.masa_no}}</td>
                        </tr>
                        <tr >
                            <th>E-mail Address:</th>
                            <td class="ml-20"> {{user.email}}</td>
                        </tr>
                    </table>
                    <h6 class="dplay-inl-block mt-30"><a href="/user/update" class="btn-fill-primary plr-15">UPDATE PROFILE</a></h6>
                    <h6 class="dplay-inl-block mt-30"><a href="/user/password" class="btn-fill-primary secondary plr-15">CHANGE PASSWORD</a></h6>

                </div><!--tab-style-1-->
                </div><!-- row -->
        </div><!-- container -->
</section>





</section>
</div>



{% endblock %}
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>