<div>
    <h3>FILTER BY BRAND</h3>
    <div class="sidenav w3-bar-block" >
        <ul >
            <li><a href="/user">User Profile</a></li>
            <li><a href="/user/orders"> My Orders</a></li>
            <li><a href="/user/comments"> My Comments</a></li>
            <li><a href="/user/favorits"> My Favorits</a></li>
            <li><a href="/user/porducts"> My Product</a></li>
            <li><a href="/logout"> Logout </a></li>
        </ul>
    </div>

</div>

<style>
.sidenav {
  height: 100%;
  width: 100px;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
</style>