{% extends "homebase.html" %}

{% block title %} User {{ user }} {% endblock %}
{% block keywords %} {{ setting.keywords }}  {% endblock %}
{% block descriptions %} {{ setting.description }} {% endblock %}
{% load static %}

{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block slider %}
    {% include 'slider.html' %}
{% endblock %}

{% block content %}

<section class="story-area left-text center-sm-text mt-50" >
    <div class="heading">
            <img class="heading-img mt-50" src="{% static 'images/heading_logo.png' %}" alt="">
    </div>



<section class="story-area center-text center-sm-text pt-0">
        <div class="container">
            <div class="center-text m-50">
                <p class=""><b>Siparisiniz Alındı</b></p>
            </div><!-- row -->
            <div class="center-text m-50">
                <a href="/" class="btn-primaryc secondary plr-50 mlr-5 mb-10"><b>ANASAYFA</b></a>
            </div>

        </div><!-- container -->
</section>

</section>
{% endblock %}
