{% extends "homebase.html" %}
{% load static %}
{% block title %} {{product.title}}{% endblock %}
{% block keywords %} {{ product.keywords }}  {% endblock %}
{% block descriptions %} {{ product.description }} {% endblock %}


{% block head %}
    <link rel = 'shortcut icon' type = 'images/icon.jpeg' href = '{{setting.icon.url}}' />
{% endblock %}

{% block content %}
<section class="story-area left-text center-sm-text mt-40">
    <h3 class="font-9 mt-30 ml-30  left-text">
        <ul class="row">
            <li><a href="/">ANASAYFA>> </a></li>
            <li class="active">Shopcart</li>
        </ul>
    </h3 >
<table cellpadding="4" width="1200" height="200" style="margin:30px">
    <tr>
        <th style="color:#EF0031">Image</th>
        <th style="color:#EF0031">Product Name</th>
        <th style="color:#EF0031">Category</th>
        <th style="color:#EF0031">Price</th>
        <th style="color:#EF0031">Amount</th>
        <th style="color:#EF0031">Quantity</th>
        <th style="color:#EF0031">Delete</th>
    </tr>
    <hr>
    {% for rs in schopcart %}
    <tr>
        <td class=""><a href="/product/{{ rs.id }}/{{ rs.slug }}"><img src="{{rs.product.image.url}}" style="width:90px" > </a></td>
        <td><h4 class=""><a href="/product/{{rs.id}}/{{rs.slug}}">{{rs.product}}</a></h4></td>
        <td><a href="/category/{{rs.category.id}}/{{rs.category.slug}}">{{rs.product.category}}</a></td>
        <td><h4>{{rs.product.price}}TL</h4></td>
        <td><h4>{{rs.quantity}}</h4></td>
        <td><h4>{{rs.amount}}TL</h4></td>
        <td><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Are you sure?')"><i class="fa fa-close"></i> </a> </td>
    </tr>

    {% endfor %}
    <tfoot>
        <tr>
            <th class="empty" colspan="4"></th>
            <th>TOTAL</th>
            <th>{{total}}TL</th>
        </tr>

    </tfoot>
</table>
</section>
<h6 class=" center-text"><a href="/order/orderproduct" class="btn-primaryc plr-25"><b> ORDER</b></a></h6>

<hr>
{% endblock %}
